{% block footer%}
      <footer class="footer">
        <div>
            <h1>PIUM</h1>
            <p>Copyright ⓒ PIUM. All rights reseved.</p>
        </div>
        <div class="customer-center">
            <strong>customer center</strong>
            <p>컬러블로썸(color blossom)</p>
            <span>AM 10:00 ~ PM 22:00</span>
        </div>
        <div class="company-info">
            <strong>Company info</strong>
            <p>상호명 : 피움</p>
            <p>대표 : 이혜린</p>
            <p>사업자 등록번호: 655-03-02828</p>
            <p>서울특별시 성북구 삼양로22 기린빌딩 209호 <br>
                (국민대학교 길음기숙사 209호)
            </p>
        </div>
      </footer>
{% endblock %}